body{
    background-image:url('Screenshot 2025-10-07 075443.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    display: flex;
}
.title{
    position: absolute;
    top:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
    font-size:60px;
    font-weight: bold;
    color:rgb(240, 21, 57)
}
.link{
    position: fixed;
    top: 0;
    @media(any-hover: hover){
        a:hover{
            background-color: pink;
        }
    }
    margin-top: 40px;
    margin-left: 1040px;
    margin-right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
.team-grid{
    /* align-items: center; */
    bottom:0;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.team-item {
  background-color: rgba(239, 23, 156, 0.41);
  background-size: 200px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #460814;
  margin-top: 200px;
  height: 250px;
}
.team-item img {
  width: 120px;
  height: auto;
  border-radius:50%;
  border: 3px solid rgb(28, 202, 118);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.team-item h2{
  margin: 0;
  font-size: 20px;
color: rgb(51, 2, 10);
}
.team-item p{
    margin: 0;
    font-size: 20px;
    color:rgb(93, 14, 27)
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(119, 32, 46);
  color: rgb(231, 12, 220);
  text-align: center;
  padding: 10px;
}
